<%- include('../partials/head') %>
   <div class="col-6 offset-3">
      <h1 class="text-center">Editar Ferramenta</h1>

      <form action="/ferramentas/<%= tool._id %>?_method=PUT" method="POST" novalidate class="validate">
         <div class="mb-2">
            <label class="form-label" for="title">Título</label>
            <input class="form-control" value="<%= tool.title %>" type="text" id="title" name="tool[title]" required>
         </div>
         <div class="mb-2">
            <label class="form-label" for="ages">Faixa Etárea</label>
            <input class="form-control" value="<%= tool.ages %>" type="text" id="ages" name="tool[ages]" required>
         </div>
         <div class="mb-2">
            <label class="form-label" for="sensiblePeriod">Período Sensível</label>
            <select class="form-select" id="sensiblePeriod" name="tool[sensiblePeriod]" required>
               <option value="<%= tool.sensiblePeriod %>" selected hidden>
                  <%= tool.sensiblePeriod %>
               </option>
               <% for(let period of sensiblePeriod) {%>
                  <option value="<%= period.name %>">
                     <%= period.name %>
                  </option>
                  <% } %>
            </select>
         </div>
         <div class="mb-2">
            <label class="form-label" for="description">Descrição</label>
            <textarea class="form-control" id="description" name="tool[description]" required>
               <%= tool.description.trim() %>
            </textarea>
         </div>
         <div class="mb-2">
            <label class="form-label" for="owned">Possui?</label>
            <select class="form-select id=" owned" name="tool[owned]" required>
               <option value="<%= tool.owned %>" selected hidden>
                  <%= tool.owned %>
               </option>
               <option value="Não">Não</option>
               <option value="Sim">Sim</option>
            </select>
         </div>
         <div class="mb-2">
            <label class="form-label" for="picture">Imagem</label>
            <input class="form-control" value="<%= tool.picture %>" type="text" id="picture" name="tool[picture]"
               required>
         </div>
         <button class="btn btn-primary mt-2
            ">Editar</button>
      </form>
      <a href="/ferramentas/<%=tool._id%>">Voltar à Atividade</a>
   </div>


   <%- include('../partials/foot') %>

      <script type="text/javascript" src="/public/scripts/functions.js"></script>
      <script>bootstrapFormValidation()</script>