<%- include('../partials/head') %>

   <div class="row mb-3">
      <div class="col-md-6">
         <div class="card mb-3">
            <img src="/public/img/<%=activity.picture%>" alt="" class="card-img-top">
            <div class="card-body">
               <h3 class="card-title">
                  <%=activity.title%>
               </h3>
               <p class="card-text">
                  <!-- This is the line which renders the text -->
                  <%=activity.description%>
                     <!-- ----------------------------- -->
               </p>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><b>Dono: </b>
                  <%=activity.user.username%>
               </li>
               <li class="list-group-item"><b>Idades: </b>
                  <%=activity.ages%>
               </li>
               <li class="list-group-item"><b>Período Sensível: </b>
                  <%=activity.sensiblePeriod%>
               </li>
               <li class="list-group-item"><b>Categoria: </b>
                  <%=activity.category%>
               </li>
               <li class="list-group-item"><b>Tema: </b>
                  <%=activity.theme%>
               </li>
            </ul>
         </div>
         <% if(currentUser.isAdmin==true || currentUser && activity.user.equals(currentUser._id)) {%>
            <div class="card mb-3">
               <div class="card-body">
                  <h4 class="card-text mb-3">Área de Risco</h4>
                  <% if(currentUser && activity.user.equals(currentUser._id)) {%>
                     <a href="/atividades/<%=activity._id%>/editar" class="btn btn-info">Editar Atividade</a>
                     <% } %>
                        <form class="d-inline" action="/atividades/<%=activity._id%>/?_method=DELETE" method="POST">
                           <button class="btn btn-danger"
                              onclick="return confirm('Você tem certeza que deseja excluir esta Atividade?');">Excluir
                              Atividade</button>
                        </form>
               </div>
            </div>
            <% } %>
               <p><a class="card-link" href="/atividades">Voltar à todas as atividades</a></p>
      </div>
      <div class="col-md-6">
         <!-- <h2 class="text-center card-title mb-2">Comentários</h2> -->
         <% if(currentUser) {%>
            <div class="card mb-3">
               <div class="card-body">

                  <h4 class="card-title text-center mb-3">Incluir Comentário
                  </h4>
                  <form action="/atividades/<%=activity._id%>/reviews" method="POST">
                     <div class="row mb-3">

                        <div class="col">
                           <div>
                              <label class="form-label" for="title">Título</label>
                           </div>
                           <div>
                              <input class="form-control" type="text" name="review[title]" id="title" size="26">
                           </div>
                        </div>
                     </div>
                     <div class="mb-3">
                        <div><label class="form-label" for="body">Comentário</label></div>
                        <div><textarea class="form-control" name="review[body]" id="body" cols="42" rows="5"></textarea>
                        </div>
                     </div>
                     <button class="btn btn-success">Incluir Comentário</button>
                  </form>
               </div>
            </div>
            <% } %>

               <% const reviews=activity.reviews %>
                  <% for(let review of reviews) { %>
                     <div class="card mb-3">
                        <div class="card-body">
                           <h5 class="card-title">
                              <%= review.title %>
                           </h5>
                           <h6 class="card-subtitle">
                              Autor: <%= review.user.username %>
                           </h6>
                           <% const dbDate=review.date.toISOString()%>
                              <% const day=dbDate.substring(8,10)%>
                                 <% const month=dbDate.substring(5,7)%>
                                    <% const year=dbDate.substring(0,4)%>

                                       <% const lastUpdated=`${day}/${month}/${year}` %>

                                          <p class="text-secondary">
                                             Última Atualização: <%= lastUpdated %>
                                          </p>
                                          <p>
                                             <%= review.body %>
                                          </p>
                                          <% if(currentUser.isAdmin==true || currentUser &&
                                             review.user.equals(currentUser._id)) {%>
                                             <% if(review.user.equals(currentUser._id)) { %>
                                                <a href="/atividades/<%= activity._id %>/reviews/<%=review._id%>"
                                                   class="btn btn-sm btn-info">Editar Comentário</a>
                                                <% } %>
                                                   <form class="d-inline"
                                                      action="/atividades/<%= activity._id %>/reviews/<%=review._id%>?_method=DELETE "
                                                      method="post">
                                                      <button class="btn btn-sm btn-danger"
                                                         onclick="return confirm('Você tem certeza que deseja excluir este comentário?');">Excluir
                                                         Comentário</button>
                                                   </form>
                                                   <% } %>
                        </div>
                     </div>
                     <%}%>

      </div>
   </div>
   </div>
   <%- include('../partials/foot') %>
      <script type="text/javascript" src="/public/scripts/functions.js"></script>
      <script>bootstrapFormValidation()</script>