<%- include('../partials/head') %>
   <h1>
      <%=activity.title%>
   </h1>
   <p>
      <a href="/atividades/<%=activity._id%>/editar">Editar</a>
   </p>
   <form action="/atividades/<%=activity._id%>/?_method=DELETE" method="POST">
      <button>Excluir</button>
   </form>

   <footer>
      <a href="/atividades">Todas as Atividades</a>
   </footer>

   <%- include('../partials/footer') %>