<%- include('../partials/head') %>
   <div class="col-6 offset-3">
      <h1 class="text-center">Editar Atividade</h1>

      <form action="/atividades/<%= activity._id %>?_method=PUT" method="POST" novalidate class="validate">
         <div class="mb-2">
            <label class="form-label" for="title">Título</label>
            <input class="form-control" value="<%= activity.title %>" type="text" id="title" name="activity[title]"
               required>
         </div>
         <div class="mb-2">
            <label class="form-label" for="ages">Idade</label>
            <input class="form-control" value="<%= activity.ages %>" type="text" id="ages" name="activity[ages]"
               required>
         </div>
         <div class="mb-2">
            <label class="form-label" for="sensiblePeriod">Período Sensível</label>
            <select class="form-select" id="sensiblePeriod" name="activity[sensiblePeriod]" required>
               <option value="<%= activity.sensiblePeriod %>" selected hidden>
                  <%= activity.sensiblePeriod %>
               </option>
               <% for(let period of sensiblePeriod) {%>
                  <option value="<%= period.name %>">
                     <%= period.name %>
                  </option>
                  <% } %>
            </select>
         </div>
         <div class="mb-2">
            <label class="form-label" for="category">Categoria</label>
            <input class="form-control" value="<%= activity.category %>" type="text" id="category"
               name="activity[category]">
         </div>
         <div class="mb-2">
            <label class="form-label" for="theme">Tema</label>
            <input class="form-control" value="<%= activity.theme %>" type="text" id="theme" name="activity[theme]">
         </div>
         <div class="mb-2">
            <label class="form-label" for="description">Descrição</label>
            <textarea class="form-control" id="description" name="activity[description]" required>
               <%= activity.description.trim() %>
            </textarea>
         </div>
         <div class="mb-2">
            <label class="form-label" for="owned">Possui?</label>
            <select class="form-select id=" owned" name="activity[owned]" required>
               <option value="<%= activity.owned %>" selected hidden>
                  <%= activity.owned %>
               </option>
               <option value="Não">Não</option>
               <option value="Sim">Sim</option>
            </select>
         </div>
         <div class="mb-2">
            <label class="form-label" for="picture">Imagem</label>
            <input class="form-control" value="<%= activity.picture %>" type="text" id="picture"
               name="activity[picture]" required>
         </div>
         <button class="btn btn-primary mt-2
            ">Editar</button>
      </form>
      <a href="/atividades/<%=activity._id%>">Voltar à Atividade</a>
   </div>


   <%- include('../partials/foot') %>

      <script type="text/javascript" src="/public/scripts/functions.js"></script>
      <script>bootstrapFormValidation()</script>