<%- include('../partials/head') %>
 <div class="row d-flex justify-content-center">
      <div class="col-md-6 offset-3 p-3 border rounded bg-light">
      <h1 class="text-center">Editar Comentário</h1>

      <form action="/atividades/<%= activity._id %>/reviews/<%=review._id%>?_method=PUT" method="POST" id="form">
         <div class="row mb-3">
            <div class="col">
               <div>
                  <label class="form-label" for="title">Título</label>
               </div>
               <div>
                  <input class="form-control" type="text" name="review[title]" id="title" size="26"
                     value="<%= review.title %> ">
               </div>
            </div>
         </div>
         <% const date=new Date().toISOString() %>
            <% const today=date.substring(0,10) %>

               <input type="hidden" name="review[date]" id="date" value="<%= `${today}` %> ">

               <div class="mb-3">
                  <div><label class="form-label" for="body">Comentário</label></div>
                  <div><textarea class="form-control" name="review[body]" id="body" cols="42" rows="10" hidden>
                        <%= review.body.trim() %>
                     </textarea>
                     
                  </div>
                  <div id="editor"></div>
               </div>
               <button class="btn btn-success">Editar Comentário</button>
      </form>
      <a href="/atividades/<%=activity._id%>">Voltar à Atividade</a>
   </div>
 </div>


   <%- include('../partials/foot') %>
   <script>bootstrapFormValidation()</script>
   <script>createQuill('editor','form','body', '<%-review.body%>')</script>