<%- include('../partials/head') %>

   <div class="row">
      <div class="mr-5">
         <h1 class="mb-3 border-bottom pb-1">
            Índice de Atividades
         </h1>
         <div class="row">
            <% if(currentUser) {%>
               <div class="col-12 col-md-4 mb-3">
                  <a href="/atividades/nova-atividade" class="btn btn-primary">Nova Atividade</a>
               </div>
               <% } %>
                  <div class="col-12 col-md-8 mb-3">
                     <div class=" row d-flex flex-row-reverse">
                        <div class="col-12 col-md-6">
                           <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i
                                    class="fa-solid fa-magnifying-glass d-inline"></i></span>
                              <input class="form-control" type="text" id="searchBox" onkeyup="filterSearchDiv()"
                                 placeholder="Filtrar Resultados">
                           </div>
                        </div>
                     </div>
                  </div>

         </div>

      </div>
   </div>
   <div class="row">
      <% for(let activity of activities) { %>
         <% const dbDate=activity.date.toISOString()%>
            <% const day=dbDate.substring(8,10)%>
               <% const month=dbDate.substring(5,7)%>
                  <% const year=dbDate.substring(0,4)%>

                     <% const lastUpdated=`${day}/${month}/${year}` %>

                        <div class="col-12 col-md-6 col-lg-4 col-xg-2 mb-3" name="toggleDiv">
                           <div class="card">
                              <div class="card-body">
                                 <div class="row text-center">
                                    <h4 class=" card-title border-bottom mb-1 pb-3">
                                       <%=activity.title%>
                                    </h4>
                                 </div>
                                 <div class="row mb-1">
                                    <img src="<%=activity.picture.url%>" alt="" class="card-img-top picture p-1">
                                 </div>
                                 <div class="row border-top border-bottom py-2">
                                    <div class="mb-1">
                                       <b>Faixa Etária:</b>
                                       <%=activity.ages%> anos
                                    </div>
                                    <div class="mb-1">
                                       <b>Período Sensível:</b>
                                       <%=activity.sensiblePeriod%>
                                    </div>
                                    <div class="mb-1">
                                       <b>Categoria:</b>
                                       <%=activity.category%>
                                    </div>
                                    <div class="mb-1">
                                       <b>Tema:</b>
                                       <%=activity.theme%>
                                    </div>
                                 </div>
                                 <row class="d-flex flex-row-reverse mt-2">
                                    <a href="/atividades/<%=activity._id%>"
                                       class="btn btn-primary mt-2 align-bottom">Visualizar Atividade</a>
                                 </row>
                              </div>
                           </div>
                        </div>




                        <% } %>

   </div>
   <div class="row mb-3">
      <a href="">Voltar ao início da página</a>
   </div>
   <!-- --------- -->
   <script type="text/javascript" src="/public/scripts/functions.js"></script>
   <script>filterSearchDiv()</script>
   <%- include('../partials/foot') %>