<%- include('../partials/head') %>
   <div class="col-6 offset-3">
      <h1 class="text-center">Editar Sessão de Estudo
      </h1>
      <div class="card-body">
         <form action="/criancas/<%= child._id %>/sessoes/<%= session._id %>?_method=PUT" method="POST">
            <div class="row mb-3">
               <div class="form-outline mb-3">
                  <div>
                     <label class="form-label" for="title">Título</label>
                  </div>
                  <div>
                     <input class="form-control" type="text" name="session[title]" id="title" size="26"
                        value="<%= session.title %>">
                  </div>
               </div>
               <div class="form-outline">
                  <div>
                     <label class="form-label" for="date">Data</label>
                  </div>
                  <div>
                     <input class="form-control" type="date" name="session[date]" id="date">
                  </div>
               </div>
            </div>

            <div class="row mb-3">
               <div class="form-outline mb-3">
                  <label for="focusArea" class="form-label">Área de Foco</label>
                  <select class="form-select" id="focusArea" name="session[focusArea]">
                     <option value="<%= session.focusArea %> " selected disabled hidden>
                        <%= session.focusArea %>
                     </option>
                     <% for(let area of focusArea){ %>
                        <option value="<%= area.name %>">
                           <%= area.name %>
                        </option>
                        <% } %>
                  </select>
               </div>

               <div class="form-outline mb-3">
                  <label for="sessionType" class="form-label">Área de Foco</label>
                  <select class="form-select" id="sessionType" name="session[sessionType]">
                     <option value="<%= session.sessionType %> " selected disabled hidden>
                        <%= session.sessionType %>
                     </option>
                     <% for(let type of sessionType) {%>
                        <option value="<%= type.name %> ">
                           <%= type.name %>
                        </option>
                        <% } %>
                  </select>
               </div>
            </div>
            <div class="mb-3">
               <div><label class="form-label" for="body">Observações</label></div>
               <div>
                  <% sessionBody=session.body.replace(' ', '').trim() %>
                     <textarea class="form-control" name="session[body]" id="body" cols="42" rows="10">
                        <%= sessionBody %>
                     </textarea>
                  </div>
               </div>
               <button class="btn btn-success">Editar Sessão</button>
            </form>
         </div>
   </div>

   <%- include(`../partials/foot.ejs`) %>
         <script type="text/javascript" src="/public/scripts/functions.js"></script>
         <script>bootstrapFormValidation()</script>